li {
  text-transform: capitalize;
}
.container {
  padding: 12px;
  background: linear-gradient(
    89.7deg,
    rgb(0, 32, 95) 2.8%,
    rgb(132, 53, 142) 97.8%
  );
}
.text {
  color: #cefff1;
}
.button {
  background-color: #645fce;
  color: #cefff1;
  border-color: #a6acec;
}
