li {
  text-transform: capitalize;
}
.container {
  padding: 12px;
  background: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  );
  border-color: #43bfc7;
}
.text {
  color: #cefff1;
}
.button {
  background-color: #645fce;
  color: #cefff1;
  border-color: #a6acec;
}
