li {
  text-transform: capitalize;
}
.container {
  padding: 12px;
  background: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  );
  border: 50px;
  border-radius: 6px;
  border-color: #43bfc7;
  max-width: 540px;
}
.text {
  color: #cefff1;
}
.button {
  background-color: #645fce;
  color: #cefff1;
  border-color: #a6acec;
}
#current-city {
  margin: 18px 0px;
}
.button:hover {
  background-color: #69e9f5;
  color: #40356f;
  border-color: #43bfc7;
}
#icon {
  size: 200px;
}
